In [5]:
import json 
import pandas as pd 
from pandas.io.json import json_normalize

In [6]:
df = pd.read_excel("data_pulling/team_game_logs/team_game_log_ATL.xlsx")

In [7]:
cols = df.columns.values.tolist()
print(cols)

['game.awayTeamAbbreviation', 'game.homeTeamAbbreviation', 'game.id', 'game.startTime', 'stats.defense.blk', 'stats.defense.blkAgainst', 'stats.defense.blkAgainstPerGame', 'stats.defense.blkPerGame', 'stats.defense.ptsAgainst', 'stats.defense.ptsAgainstPerGame', 'stats.defense.stl', 'stats.defense.stlPerGame', 'stats.defense.tov', 'stats.defense.tovPerGame', 'stats.fieldGoals.fg2PtAtt', 'stats.fieldGoals.fg2PtAttPerGame', 'stats.fieldGoals.fg2PtMade', 'stats.fieldGoals.fg2PtMadePerGame', 'stats.fieldGoals.fg2PtPct', 'stats.fieldGoals.fg3PtAtt', 'stats.fieldGoals.fg3PtAttPerGame', 'stats.fieldGoals.fg3PtMade', 'stats.fieldGoals.fg3PtMadePerGame', 'stats.fieldGoals.fg3PtPct', 'stats.fieldGoals.fgAtt', 'stats.fieldGoals.fgAttPerGame', 'stats.fieldGoals.fgMade', 'stats.fieldGoals.fgMadePerGame', 'stats.fieldGoals.fgPct', 'stats.freeThrows.ftAtt', 'stats.freeThrows.ftAttPerGame', 'stats.freeThrows.ftMade', 'stats.freeThrows.ftMadePerGame', 'stats.freeThrows.ftPct', 'stats.miscellaneous.ejections', 'stats.miscellaneous.foulFlag1', 'stats.miscellaneous.foulFlag1Drawn', 'stats.miscellaneous.foulFlag1DrawnPerGame', 'stats.miscellaneous.foulFlag1PerGame', 'stats.miscellaneous.foulFlag2', 'stats.miscellaneous.foulFlag2Drawn', 'stats.miscellaneous.foulFlag2DrawnPerGame', 'stats.miscellaneous.foulFlag2PerGame', 'stats.miscellaneous.foulPers', 'stats.miscellaneous.foulPersDrawn', 'stats.miscellaneous.foulPersDrawnPerGame', 'stats.miscellaneous.foulPersPerGame', 'stats.miscellaneous.foulTech', 'stats.miscellaneous.foulTechDrawn', 'stats.miscellaneous.foulTechDrawnPerGame', 'stats.miscellaneous.foulTechPerGame', 'stats.miscellaneous.fouls', 'stats.miscellaneous.foulsDrawn', 'stats.miscellaneous.foulsDrawnPerGame', 'stats.miscellaneous.foulsPerGame', 'stats.miscellaneous.plusMinus', 'stats.miscellaneous.plusMinusPerGame', 'stats.offense.ast', 'stats.offense.astPerGame', 'stats.offense.pts', 'stats.offense.ptsPerGame', 'stats.rebounds.defReb', 'stats.rebounds.defRebPerGame', 'stats.rebounds.offReb', 'stats.rebounds.offRebPerGame', 'stats.rebounds.reb', 'stats.rebounds.rebPerGame', 'stats.standings.gamesBack', 'stats.standings.losses', 'stats.standings.winPct', 'stats.standings.wins', 'team.abbreviation', 'team.id']

In [3]:
print(df['game.startTime'])

0     2017-10-19T00:30:00.000Z
1     2017-10-20T23:00:00.000Z
2     2017-10-22T19:30:00.000Z
3     2017-10-23T23:30:00.000Z
4     2017-10-27T00:00:00.000Z
5     2017-10-27T23:30:00.000Z
6     2017-10-29T19:30:00.000Z
7     2017-11-01T23:00:00.000Z
8     2017-11-03T23:30:00.000Z
9     2017-11-05T20:00:00.000Z
10    2017-11-07T00:30:00.000Z
11    2017-11-11T00:00:00.000Z
12    2017-11-12T00:00:00.000Z
13    2017-11-14T01:00:00.000Z
14    2017-11-16T00:30:00.000Z
15    2017-11-19T00:30:00.000Z
16    2017-11-21T01:30:00.000Z
17    2017-11-23T00:30:00.000Z
18    2017-11-25T00:30:00.000Z
19    2017-11-26T00:30:00.000Z
20    2017-12-01T00:30:00.000Z
21    2017-12-02T20:00:00.000Z
22    2017-12-05T00:30:00.000Z
23    2017-12-07T00:00:00.000Z
24    2017-12-10T00:30:00.000Z
25    2017-12-11T00:30:00.000Z
26    2017-12-13T00:00:00.000Z
27    2017-12-15T00:30:00.000Z
28    2017-12-16T01:00:00.000Z
29    2017-12-19T00:30:00.000Z
                ...
52    2018-02-04T17:00:00.000Z
53    2018-02-07T00:30:00.000Z
54    2018-02-09T00:00:00.000Z
55    2018-02-10T00:30:00.000Z
56    2018-02-11T20:30:00.000Z
57    2018-02-14T01:00:00.000Z
58    2018-02-15T00:00:00.000Z
59    2018-02-24T00:00:00.000Z
60    2018-02-27T00:30:00.000Z
61    2018-03-01T00:30:00.000Z
62    2018-03-03T00:30:00.000Z
63    2018-03-04T20:30:00.000Z
64    2018-03-07T00:00:00.000Z
65    2018-03-10T00:00:00.000Z
66    2018-03-11T19:30:00.000Z
67    2018-03-13T23:30:00.000Z
68    2018-03-15T23:30:00.000Z
69    2018-03-17T22:00:00.000Z
70    2018-03-21T01:00:00.000Z
71    2018-03-23T02:00:00.000Z
72    2018-03-24T02:30:00.000Z
73    2018-03-26T00:00:00.000Z
74    2018-03-29T00:00:00.000Z
75    2018-03-30T23:30:00.000Z
76    2018-04-01T22:00:00.000Z
77    2018-04-03T23:30:00.000Z
78    2018-04-04T23:30:00.000Z
79    2018-04-06T23:00:00.000Z
80    2018-04-08T17:00:00.000Z
81    2018-04-10T23:30:00.000Z
Name: game.startTime, Length: 82, dtype: object

In [4]:
df[(df['game.startTime'] >= df.loc[0]['game.startTime']) & (df['game.startTime'] <= df.loc[10]['game.startTime'])]

,game.awayTeamAbbreviation,game.homeTeamAbbreviation,game.id,game.startTime,stats.defense.blk,stats.defense.blkAgainst,stats.defense.blkAgainstPerGame,stats.defense.blkPerGame,stats.defense.ptsAgainst,stats.defense.ptsAgainstPerGame,...,stats.rebounds.offReb,stats.rebounds.offRebPerGame,stats.rebounds.reb,stats.rebounds.rebPerGame,stats.standings.gamesBack,stats.standings.losses,stats.standings.winPct,stats.standings.wins,team.abbreviation,team.id
0,ATL,DAL,42078,2017-10-19T00:30:00.000Z,6,4,4,6,111,111,...,14,14,54,54,0,0,1,1,ATL,91
1,ATL,CHA,42089,2017-10-20T23:00:00.000Z,4,4,4,4,109,109,...,15,15,49,49,0,1,0,0,ATL,91
2,ATL,BRO,42107,2017-10-22T19:30:00.000Z,2,8,8,2,116,116,...,23,23,58,58,0,1,0,0,ATL,91
3,ATL,MIA,42111,2017-10-23T23:30:00.000Z,1,6,6,1,104,104,...,11,11,47,47,0,1,0,0,ATL,91
4,ATL,CHI,42134,2017-10-27T00:00:00.000Z,5,4,4,5,91,91,...,7,7,44,44,0,1,0,0,ATL,91
5,DEN,ATL,42142,2017-10-27T23:30:00.000Z,4,4,4,4,105,105,...,13,13,45,45,0,1,0,0,ATL,91
6,MIL,ATL,42154,2017-10-29T19:30:00.000Z,2,3,3,2,117,117,...,6,6,41,41,0,1,0,0,ATL,91
7,ATL,PHI,42175,2017-11-01T23:00:00.000Z,4,4,4,4,119,119,...,19,19,59,59,0,1,0,0,ATL,91
8,HOU,ATL,42192,2017-11-03T23:30:00.000Z,8,4,4,8,119,119,...,9,9,48,48,0,1,0,0,ATL,91
9,ATL,CLE,42205,2017-11-05T20:00:00.000Z,6,6,6,6,115,115,...,21,21,56,56,0,0,1,1,ATL,91
10,BOS,ATL,42215,2017-11-07T00:30:00.000Z,4,3,3,4,110,110,...,10,10,42,42,0,1,0,0,ATL,91

In [13]:
df['date'] = pd.to_datetime(df['game.startTime'].str.split('T').str[0])

In [14]:
print(df['date'])

0    2017-10-19
1    2017-10-20
2    2017-10-22
3    2017-10-23
4    2017-10-27
5    2017-10-27
6    2017-10-29
7    2017-11-01
8    2017-11-03
9    2017-11-05
10   2017-11-07
11   2017-11-11
12   2017-11-12
13   2017-11-14
14   2017-11-16
15   2017-11-19
16   2017-11-21
17   2017-11-23
18   2017-11-25
19   2017-11-26
20   2017-12-01
21   2017-12-02
22   2017-12-05
23   2017-12-07
24   2017-12-10
25   2017-12-11
26   2017-12-13
27   2017-12-15
28   2017-12-16
29   2017-12-19
        ...
52   2018-02-04
53   2018-02-07
54   2018-02-09
55   2018-02-10
56   2018-02-11
57   2018-02-14
58   2018-02-15
59   2018-02-24
60   2018-02-27
61   2018-03-01
62   2018-03-03
63   2018-03-04
64   2018-03-07
65   2018-03-10
66   2018-03-11
67   2018-03-13
68   2018-03-15
69   2018-03-17
70   2018-03-21
71   2018-03-23
72   2018-03-24
73   2018-03-26
74   2018-03-29
75   2018-03-30
76   2018-04-01
77   2018-04-03
78   2018-04-04
79   2018-04-06
80   2018-04-08
81   2018-04-10
Name: date, Length: 82, dtype: datetime64[ns]

In [16]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [17]:
print(df['date'])

0    2017-10-19
1    2017-10-20
2    2017-10-22
3    2017-10-23
4    2017-10-27
5    2017-10-27
6    2017-10-29
7    2017-11-01
8    2017-11-03
9    2017-11-05
10   2017-11-07
11   2017-11-11
12   2017-11-12
13   2017-11-14
14   2017-11-16
15   2017-11-19
16   2017-11-21
17   2017-11-23
18   2017-11-25
19   2017-11-26
20   2017-12-01
21   2017-12-02
22   2017-12-05
23   2017-12-07
24   2017-12-10
25   2017-12-11
26   2017-12-13
27   2017-12-15
28   2017-12-16
29   2017-12-19
        ...
52   2018-02-04
53   2018-02-07
54   2018-02-09
55   2018-02-10
56   2018-02-11
57   2018-02-14
58   2018-02-15
59   2018-02-24
60   2018-02-27
61   2018-03-01
62   2018-03-03
63   2018-03-04
64   2018-03-07
65   2018-03-10
66   2018-03-11
67   2018-03-13
68   2018-03-15
69   2018-03-17
70   2018-03-21
71   2018-03-23
72   2018-03-24
73   2018-03-26
74   2018-03-29
75   2018-03-30
76   2018-04-01
77   2018-04-03
78   2018-04-04
79   2018-04-06
80   2018-04-08
81   2018-04-10
Name: date, Length: 82, dtype: datetime64[ns]

In [23]:
df[(df['date'] >= df.loc[0]['date']) & (df['date'] <= df.loc[10]['date'])]

,game.awayTeamAbbreviation,game.homeTeamAbbreviation,game.id,game.startTime,stats.defense.blk,stats.defense.blkAgainst,stats.defense.blkAgainstPerGame,stats.defense.blkPerGame,stats.defense.ptsAgainst,stats.defense.ptsAgainstPerGame,...,stats.rebounds.offRebPerGame,stats.rebounds.reb,stats.rebounds.rebPerGame,stats.standings.gamesBack,stats.standings.losses,stats.standings.winPct,stats.standings.wins,team.abbreviation,team.id,date
0,ATL,DAL,42078,2017-10-19T00:30:00.000Z,6,4,4,6,111,111,...,14,54,54,0,0,1,1,ATL,91,2017-10-19
1,ATL,CHA,42089,2017-10-20T23:00:00.000Z,4,4,4,4,109,109,...,15,49,49,0,1,0,0,ATL,91,2017-10-20
2,ATL,BRO,42107,2017-10-22T19:30:00.000Z,2,8,8,2,116,116,...,23,58,58,0,1,0,0,ATL,91,2017-10-22
3,ATL,MIA,42111,2017-10-23T23:30:00.000Z,1,6,6,1,104,104,...,11,47,47,0,1,0,0,ATL,91,2017-10-23
4,ATL,CHI,42134,2017-10-27T00:00:00.000Z,5,4,4,5,91,91,...,7,44,44,0,1,0,0,ATL,91,2017-10-27
5,DEN,ATL,42142,2017-10-27T23:30:00.000Z,4,4,4,4,105,105,...,13,45,45,0,1,0,0,ATL,91,2017-10-27
6,MIL,ATL,42154,2017-10-29T19:30:00.000Z,2,3,3,2,117,117,...,6,41,41,0,1,0,0,ATL,91,2017-10-29
7,ATL,PHI,42175,2017-11-01T23:00:00.000Z,4,4,4,4,119,119,...,19,59,59,0,1,0,0,ATL,91,2017-11-01
8,HOU,ATL,42192,2017-11-03T23:30:00.000Z,8,4,4,8,119,119,...,9,48,48,0,1,0,0,ATL,91,2017-11-03
9,ATL,CLE,42205,2017-11-05T20:00:00.000Z,6,6,6,6,115,115,...,21,56,56,0,0,1,1,ATL,91,2017-11-05
10,BOS,ATL,42215,2017-11-07T00:30:00.000Z,4,3,3,4,110,110,...,10,42,42,0,1,0,0,ATL,91,2017-11-07